<footer class="w-100">
    <div class="d-flex flex-column" style="height: 40vh;">
        <!-- Phần trên (40%) -->
        <div class="bg-info text-center p-3 d-flex justify-content-center align-items-center" style="flex: 4;">
            <div class="col-md-4">
                <img src="~/Images/Support.png" alt="Support" />
                <h4>Product Support</h4>
                <p>Up to 3 years on-site warranty available for your peace of mind</p>
            </div>
            <div class="col-md-4">
                <img src="~/Images/Account.png" alt="Account" />
                <h4>Personal Account</h4>
                <p>With big discounts, free delivery and a dedicated support specialist.</p>
            </div>
            <div class="col-md-4">
                <img src="~/Images/Saving.png" alt="Saving" />
                <h4>Amazing Saving</h4>
                <p>Up to 70% off new Products, you can be sure of the best price</p>
            </div>
        </div>

        <!-- Phần dưới (60%) -->
        <div class="bg-black text-white text-start">
            <div class="d-flex justify-content-center align-items-center me-3">
                <div class="container-fluid ms-4 p-2 mt-5">
                    <h4>Sign Up To Our Newsletter.</h4>
                    <p>Be the first to hear about the latest offers.</p>
                </div>
                <input type="email" placeholder="Your Email" class="ms-auto form-control w-auto me-3 bg-black vw-100" />
                <button class="btn-sm bg-primary px-4 py-2 rounded-pill">Subscribe</button>
            </div>

            <div class="container-fluid">
                <div class="row ms-2">
                    <div class="col-lg-2 col-md-6">
                        <h5 class="opacity-50">Information</h5>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-decoration-none text-light">About Us</a></li>
                            <li><a href="#" class="text-decoration-none text-light">About Zip</a></li>
                            <li><a href="#" class="text-decoration-none text-light">Search</a></li>
                            <li><a href="#" class="text-decoration-none text-light">Terms</a></li>
                            <li><a href="#" class="text-decoration-none text-light">Orders and Returns</a></li>
                            <li><a href="#" class="text-decoration-none text-light">Contact Us</a></li>
                            <li><a href="#" class="text-decoration-none text-light">Advanced Search</a></li>
                            <li><a href="#" class="text-decoration-none text-light">Newsletter Subscription</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <h5 class="opacity-50">PC Parts</h5>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-decoration-none text-light">CPUs</a></li>
                            <li><a href="#" class="text-decoration-none text-light">Add On Cards</a></li>
                            <li><a href="#" class="text-decoration-none text-light">Hard Drives (Internal)</a></li>
                            <li><a href="#" class="text-decoration-none text-light">Graphic Cards</a></li>
                            <li><a href="#" class="text-decoration-none text-light">Keyboards / Mice</a></li>
                            <li><a href="#" class="text-decoration-none text-light">Cases / Power Supplies / Cooling</a>
                            </li>
                            <li><a href="#" class="text-decoration-none text-light">RAM (Memory)</a></li>
                            <li><a href="#" class="text-decoration-none text-light">Software</a></li>
                            <li><a href="#" class="text-decoration-none text-light">Speakers / Headsets</a></li>
                            <li><a href="#" class="text-decoration-none text-light">Motherboards</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-md-6">
                        <h5 class="opacity-50">Desktop PCs</h5>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-decoration-none text-light">Custom PCs</a></li>
                            <li><a href="#" class="text-decoration-none text-light">Servers</a></li>
                            <li><a href="#" class="text-decoration-none text-light">MSI All-In-One PCs</a></li>
                            <li><a href="#" class="text-decoration-none text-light">HP/Compaq PCs</a></li>
                            <li><a href="#" class="text-decoration-none text-light">ASUS PCs</a></li>
                            <li><a href="#" class="text-decoration-none text-light">Tecs PCs</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-md-6">
                        <h5 class="opacity-50">Laptops</h5>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-decoration-none text-light">Everyday Use Notebooks</a></li>
                            <li><a href="#" class="text-decoration-none text-light">MSI Workstation Series</a></li>
                            <li><a href="#" class="text-decoration-none text-light">MSI Prestige Series</a></li>
                            <li><a href="#" class="text-decoration-none text-light">Tablets and Pads</a></li>
                            <li><a href="#" class="text-decoration-none text-light">Netbooks</a></li>
                            <li><a href="#" class="text-decoration-none text-light">Infinity Gaming Notebooks</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <h5 class="opacity-50">Address</h5>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-decoration-none text-light">Address: 1234 Street Adress City
                                    Address, 1234</a></li>
                            <li>Phones: <a href="#">(00) 1234 5678</a></li>
                            <li><a href="#" class="text-decoration-none text-light">We are open: Monday-Thursday: 9:00
                                    AM - 5:30 PM</a></li>
                            <li><a href="#" class="text-decoration-none text-light">Friday: 9:00 AM - 6:00 PM</a></li>
                            <li><a href="#" class="text-decoration-none text-light">Saturday: 11:00 AM - 5:00 PM</a>
                            </li>
                            <li>E-mail: <a href="#">shop@email.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <hr class="text-light">
            <div class="d-flex justify-content-between">
                <div class="ps-3 py-2 d-flex align-items-start">
                    <img src="~/Images/facebook_icons2.png" alt="facebook-logo" class="px-2">
                    <img src="~/Images/instagram_icons2.png" alt="facebook-logo">
                </div>
                <div class="ps-5 py-2 d-flex align-items-center">
                    <img src="~/Images/paypal.png" alt="" class="px-2">
                    <img src="~/Images/visa.png" alt="" class="px-2">
                    <img src="~/Images/maestro.png" alt="" class="px-2">
                    <img src="~/Images/discover.png" alt="" class="px-2">
                    <img src="~/Images/american-express.png" alt="" class="px-2">
                </div>
                <div class="text-end">
                    <p class="opacity-50" style="font-size: small;">Copyright © 2020 Shop Pty. Ltd.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
